*{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Open Sans", sans-serif;
}

#blue{
	color: blue;
	background-color: green;
}
#black{
	color: black;
	background-color: yellow;
}
#blueblack{
	color: blue;
	background-color: black ;
}
#red{
	color: red;
	background-color: green;
}